body {
  min-width: 357px;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  background-color:#d2dbdc;
  color: #53af85;
}

div.panel {
  background:#e8eded;
  padding:10px 30px;
  margin:10px;
  border-radius:15px;
}

div.panel:hover {
  background:#bbd2cb;
}

a:link { 
  text-decoration: none; font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}

a:visited {color: #666666;}
a:hover {color: #53af85;}