body {
  min-width: 357px;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  background-color:#e8e8e8;
  color: #53af85;
}

div.panel {
  background:#f9f9f9;
  padding:10px 30px;
  margin:10px;
  border-radius:15px;
  border:1px solid #dcdcdc;
}

div.panel:hover {
  background:#f0f0f0;
}

a:link { 
  text-decoration: none; font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
  font-size: small;
}

a:visited {color: #666666;}
a:hover {color: #53af85;}

a.btn {
display: block;
width: 30px;
height: 46px;
cusror: pointer;
background-image: url(refresh_top_padding.png);
text-indent: -9999em;
}

a.btn:hover {background-image: url(refresh_hover_light.png);}
a.btn:active {background-image: url(refresh_click_light.png);}